:root {
    --background-color: #ffcd45;
    --text-color: #644f00;
    --footer-color: #ffe66b;
    --header-color: #ffe66b;
    --card-color: #ffe66b;
    --border-color: #aa7314;
    --card-button-font-color: #ffcd45;
    --card-button-text-color: #644f00;
}